<div class="container">
<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row form-group field">
    <%= f.label :pin_no, class:"col-md-6 control-label" %>
    <%= f.number_field :pin_no, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :section, class:"col-md-6 control-label" %>
    <%= f.text_field :section, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :name, class:"col-md-6 control-label" %>
    <%= f.text_field :name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :cgpa, class:"col-md-6 control-label" %>
    <%= f.text_field :cgpa, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :parent_cont_no, class:"col-md-6 control-label" %>
    <%= f.number_field :parent_cont_no, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :parent_mail_id, class:"col-md-6 control-label" %>
    <%= f.text_field :parent_mail_id, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :amc_name, class:"col-md-6 control-label" %>
    <%= f.text_field :amc_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :amc_cont_no, class:"col-md-6 control-label" %>
    <%= f.number_field :amc_cont_no, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :student_mail_id, class:"col-md-6 control-label" %>
    <%= f.text_field :student_mail_id, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :student_cont_no, class:"col-md-6 control-label" %>
    <%= f.number_field :student_cont_no, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :placement_status, class:"col-md-6 control-label" %>
    <%= f.text_field :placement_status, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :placed_in, class:"col-md-6 control-label" %>
    <%= f.text_field :placed_in, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sal_package_in_lakhs, class:"col-md-6 control-label" %>
    <%= f.text_field :sal_package_in_lakhs, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :ssc, class:"col-md-6 control-label" %>
    <%= f.text_field :ssc, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :inter, class:"col-md-6 control-label" %>
    <%= f.text_field :inter, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :intermidiate_college_name, class:"col-md-6 control-label" %>
    <%= f.text_field :intermidiate_college_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :location, class:"col-md-6 control-label" %>
    <%= f.text_field :location, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :city, class:"col-md-6 control-label" %>
    <%= f.text_field :city, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :i_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :i_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :ii_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :ii_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :iii_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :iii_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :iv_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :iv_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :v_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :v_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :vi_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :vi_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :vii_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :vii_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :viii_sem, class:"col-md-6 control-label" %>
    <%= f.text_field :viii_sem, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :i_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :i_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :ii_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :ii_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :iii_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :iii_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :iv_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :iv_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :v_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :v_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :vi_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :vi_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :vii_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :vii_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :viii_sem_attd, class:"col-md-6 control-label" %>
    <%= f.text_field :viii_sem_attd, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub1_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub1_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub2_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub2_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub3_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub3_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub4_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub4_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub5_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub5_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub6_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub6_Total, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_name, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_name, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_mid1, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_mid1, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_mid2, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_mid2, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_mid3, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_mid3, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_avg, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_avg, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_asign, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_asign, class:"col-md-4 form-control" %>
  </div>

  <div class="form-row form-group field">
    <%= f.label :sub7_Total, class:"col-md-6 control-label" %>
    <%= f.text_field :sub7_Total, class:"col-md-4 form-control" %>
  </div>
<br><br><br><br>
  <center>
  <div class="actions">
    <%= button_tag(type: "submit", class: "btn btn-labeled btn-success") do %>
 <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Update Info
    <% end %> 
  </div>
    </center>
<% end %>
</div>
<br><br>