<div class="panel panel-info">
    <div class="panel-heading">Personal Info</div>
    <div class="panel-body">
    	<div class="form-row">
    	<%= "Student Name:  #{std.name.capitalize}" %></div>
    	<div class="form-row">
    	<%= "Student Pin number:  #{std.pin_no}" %></div>
    	<div class="form-row">
    	<%= "Parent Contact number:  #{std.parent_cont_no}" %></div>
    	<div class="form-row">
    	<%= "Parent email address:  #{std.parent_mail_id}" %></div>
    	<div class="form-row">
    	<%= "Student Mail id:  #{std.student_mail_id}" %></div>
    	<div class="form-row">
    	<%= "Student Contact number:  #{std.student_cont_no}" %></div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">AMC & Section Details</div>
    <div class="panel-body">
    	<%= "Section:  #{std.section}" %>
    	<%= "Student:  #{std.amc_name}" %>
    	<%= "Student:  #{std.pin_no}" %>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">SSC and Inter Details</div>
    <div class="panel-body">
    	<%= "Student:  #{std.ssc}" %>
    	<%= "Student:  #{std.inter}" %>
    	<%= "Intermidiate College Name:  #{std.intermidiate_college_name}" %>
    	<%= "City:  #{std.city}" %>
    </div>
</div>