<div class="panel panel-info">
    <div class="panel-heading">Semester Wise GPA</div>
    <div class="panel-body">
    	<div class="form-row">
    	<strong><%= "Sem I : "%></strong> <%="#{std.i_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem II : "%></strong> <%="#{std.ii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem III : "%></strong> <%="#{std.iii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem IV : "%></strong> <%="#{std.iv_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem V : "%></strong> <%="#{std.v_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VI : "%></strong> <%="#{std.vi_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VII : "%></strong> <%="#{std.vii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VIII : "%></strong> <%="#{std.viii_sem}" %>
    	</div>
    </div>
	</div>
	        	<div class="panel panel-info">
    <div class="panel-heading">Semester Wise Attendance</div>
    <div class="panel-body">
    	<div class="form-row">
    	<strong><%= "Sem I Attendance : "%></strong> <%="#{std.i_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem II Attendance : "%></strong> <%="#{std.ii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem III Attendance : "%></strong> <%="#{std.iii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem IV Attendance : "%></strong> <%="#{std.iv_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem V Attendance : "%></strong> <%="#{std.v_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VI Attendance : "%></strong> <%="#{std.vi_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VII Attendance : "%></strong> <%="#{std.vii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VIII Attendance : "%></strong> <%="#{std.viii_sem_attd}" %>
    	</div>
    </div>
	</div>
</div>
</div>	