<% semester_gpa=[std.i_sem,std.ii_sem,std.iii_sem,std.iv_sem,std.v_sem,std.vi_sem,std.vii_sem,std.viii_sem] %>
<% semester_attnd=[std.i_sem_attd,std.ii_sem_attd,std.iii_sem_attd,std.iv_sem_attd,std.v_sem_attd,std.vi_sem_attd,std.vii_sem_attd,std.viii_sem_attd] %>
<div class="panel panel-info">
    <div class="panel-heading">Semester Wise GPA</div>
    <div id="cgpa_graph" class="pull-right"></div>
    <div class="panel-body">
    	<div class="form-row">
    	<strong><%= "Sem I : "%></strong> <%="#{std.i_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem II : "%></strong> <%="#{std.ii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem III : "%></strong> <%="#{std.iii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem IV : "%></strong> <%="#{std.iv_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem V : "%></strong> <%="#{std.v_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VI : "%></strong> <%="#{std.vi_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VII : "%></strong> <%="#{std.vii_sem}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VIII : "%></strong> <%="#{std.viii_sem}" %>
    	</div>
    </div>  

	</div>
	<div class="panel panel-info">
    <div class="panel-heading">Semester Wise Attendance</div>
    <div class="panel-body">
        <div id="sem_attend" class="pull-right"></div>
    	<div class="form-row">
    	<strong><%= "Sem I Attendance : "%></strong> <%="#{std.i_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem II Attendance : "%></strong> <%="#{std.ii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem III Attendance : "%></strong> <%="#{std.iii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem IV Attendance : "%></strong> <%="#{std.iv_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem V Attendance : "%></strong> <%="#{std.v_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VI Attendance : "%></strong> <%="#{std.vi_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VII Attendance : "%></strong> <%="#{std.vii_sem_attd}" %>
    	</div>
    	<div class="form-row">
    	<strong><%= "Sem VIII Attendance : "%></strong> <%="#{std.viii_sem_attd}" %>
    	</div>
    </div>
	</div>
    </div>
</div>	


<script type="text/javascript">
Highcharts.chart('cgpa_graph', {

    title: {
        text: 'Semester Wise GPA'
    },

    subtitle: {
        text: 'Graph representation of students semester wise gpa'
    },

    yAxis: {
        min: 0,
        max: 10,
        title: {
            text: 'GPA'
        }
    },
    xAxis: {
        title: {
            text: 'Semester'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 1
        }
    },

    series: [{
        name: 'GPA',
        data: <%= semester_gpa %>
    }]

});

Highcharts.chart('sem_attend', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Semester Wise Attendance'
    },
    subtitle: {
        text: 'Column wise representation of Attendance'
    },
    xAxis: {
        categories: ['I Sem','II Sem','III Sem','IV Sem','V Sem','VI Sem','VII Sem','VIII Sem'],
        crosshair: true
    },
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: 'Percentage (%)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Semester',
        data: <%= semester_attnd %>

    }]
});
</script>