
<% std=Student.find_by(:pin_no => params['pin_num'].to_i) %>
<%= std.inspect %>

<!DOCTYPE html>
<html ng-app="reportApp">
  <body class="list-group" ng-controller="ReportController as report">
      <section class="tab" ng-controller="TabController as tab">
		 <ul class="nav nav-pills">
		  <li ng-class="{ active: tab.isSet(1) }">
		    <a href ng-click="tab.setTab(1)">Student Information</a></li>
		  <li ng-class="{ active: tab.isSet(2) }">
		    <a href ng-click="tab.setTab(2)">Mid and Lab Marks</a></li>
		  <li ng-class="{ active: tab.isSet(3) }">
		    <a href ng-click="tab.setTab(3)">Semester Wise Report</a></li>
		  <li ng-class="{ active: tab.isSet(4) }">
		    <a href ng-click="tab.setTab(4)">Placement Status</a></li>
		</ul>
        <div ng-show="tab.isSet(1)">
			<%= render partial: "personal_info", locals: { std: std } %>       	
        </div>
        <div ng-show="tab.isSet(2)">
			<%= render partial: "mids_labs", locals: { std: std } %>       	
        </div>
        <div ng-show="tab.isSet(3)">
			<%= render partial: "semester_wise_info", locals: { std: std } %>       	
        </div>
        <div ng-show="tab.isSet(4)">
			<%= render partial: "placement_info", locals: { std: std } %>       	
        </div>
      </section>
  </body>
</html>
<script type="text/javascript">
(function() {
  var app = angular.module('reportApp', []);

  app.controller('ReportController', function(){
  });

  app.controller('TabController', function(){
    this.tab = 1;

    this.setTab = function(newValue){
      this.tab = newValue;
    };

    this.isSet = function(tabName){
      return this.tab === tabName;
    };
  });

})();

</script>
