<% news= News.where('expire_on > ?', Date.today) %>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      <% news.each_with_index do |each_news,index| %>
      <% if index == 0 %>
        <div class="item active">
        <%else %>
        		<div class="item">
        <% end %>
          <img src=<%= each_news.news_img_name %>>
           <div class="carousel-caption">
            <h4><%= each_news.title %></h4>
            <p><%= each_news.content %> <a class="label label-primary" href="#" target="_blank"><%= each_news.extra_desc %></a></p>
          </div>
        </div><!-- End Item -->
 
        	<% end %>

                
      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <% news.each_with_index do |each_news,index| %>
      <% if index == 0 %>
      <li data-target="#myCarousel" data-slide-to=<%= index %> class="list-group-item active"><h4><%= each_news.title %></h4></li>
      <% else %>
      <li data-target="#myCarousel" data-slide-to=<%= index %> class="list-group-item"><h4><%= each_news.title %></h4></li>
      	<% end %>
      	<%end %>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>

<style type="text/css">
body { padding-top: 50px; }

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    
	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   4000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});
</script>