<!DOCTYPE html>
<html>
  <head>
    <title>Hemanth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag
params[:controller] %>
  </head>

  <body>
  	<header>
  		<%= render "layouts/page_logo" %>
	    <%= render "layouts/header" %>
  	</header>
    <%= yield %>
    <div class="row bottom-rule"></div>
    <footer>
    <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
